@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<style>
    .dropdown-menu .dropdown-item:hover {
        background-color: #ebb70e;
        color: black;
    }
</style>

<nav class="navbar bg-warning">
    <div class="container">
        <a class="navbar-brand" href="/">MyCheeseShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto w-100">
                <AuthorizeView>
                    <Authorized>
                        <AuthorizeView Context="innerContext">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/myorders" Match="NavLinkMatch.All">My Orders</NavLink>
                            </li>
                        </AuthorizeView>
                        <AuthorizeView Roles="Admin" Context="innerContext">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <NavLink class="dropdown-item" href="/allorders" Match="NavLinkMatch.All">All Orders</NavLink>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <NavLink class="dropdown-item" href="/addcheese" Match="NavLinkMatch.All">Add Cheese</NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="dropdown-item" href="editcheese" Match="NavLinkMatch.All">Edit Cheese</NavLink>
                                    </li>
                                </ul>
                            </li>
                        </AuthorizeView>
                    </Authorized>
                </AuthorizeView>
                </ul>

            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <AuthorizeView>
                    <Authorized>
                        <AuthorizeView Roles="Admin" Context="innerContext">
                            <span class="navbar-text me-1"> Admin </span>
                        </AuthorizeView>
                        <li class="navbar-text"> @context.User.Identity?.Name </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Account/Logout" Match="NavLinkMatch.All">Logout</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item"> 
                            <NavLink class="nav-link" href="/Account/Login" Match="NavLinkMatch.Prefix">Login</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Account/Register" Match="NavLinkMatch.Prefix">Register</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    <div class="p-2 rounded">
        @Body
    </div>
</main>

@code {
   
}