@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Model
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ShoppingCart ShoppingCart

<div class="card" style="width: 18rem;">
  <img src="/img/cheeses/@Cheese.ImageUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Cheese.Name</h5>
    <p class="card-text">@Cheese.Description</p>
    <EditForm Model="quantity" OnSubmit="AddToCart">

    </EditForm>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>

@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStore.SetAsync("cart", ShoppingCart.GetItems());
    }
}
