@page "/addcheese"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>MyCheeseShop - Add Cheese</PageTitle>

<body style="background-color:#faf5b6">
<h3>Add Cheese - (Admin)</h3>

<CheeseForm />
</body>

@code {

}
