@page "/allorders"
@attribute [Authorize(Roles = "Admin")]
@inject OrderProvider OrderProvider
@inject UserProvider UserProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<PageTitle>MyCheeseShop - All Orders</PageTitle>

<body style="background-color:#faf5b6">
<h3>All Orders - (Admin)</h3>

</body>

@code {

}
