@page "/cart"
@using MyCheeseShop.Model
@inject ShoppingCart ShoppingCart
@inject NavigationManager NavigationManager

<div>
    <a @onclick="GoToCheckout" class="btn btn-outline-primary">Checkout</a>
</div>

@code {
    protected override void OnInitialized()
    {
        ShoppingCart.OnCartUpdated += StateHasChanged;
    }

    private void GoToStore()
    {
        NavigationManager.NavigateTo("/");
    }

    private void GoToCheckout()
    {
        NavigationManager.NavigateTo("/checkout");
    }
}
