@page "/editcheese"
@inject CheeseProvider CheeseProvider
@attribute [Authorize(Roles = "Admin")]

<PageTitle>MyCheeseShop - Edit Cheese</PageTitle>

<body style="background-color:#faf5b6">
<h3>Edit Cheese - (Admin)</h3>

</body>

@code {

}
